.videos a {
  display: block;
}
iframe {
  max-width: 100%;
  width: 560px;
  height: 315px;
}

.search-container a {
  display: block;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  iframe {
    width: 300px;
    height: 200px;
  }
}
