.random {
    text-align: center;
    background-color: rgb(255, 2, 2);
    font-size: 25;
    border-bottom-color: blue;
    background: https://thirdmonk.net/postcont/2014/04/Einstien-Canvas-Painting.jpg;

}
